.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svgImage {
  width: 50vw;
  height: 50vh;
}
.st0 {
  fill: #cdcdcd;
  stroke: #d8d8dd;
  stroke-width: 0.25;
  transition: all 0.8s cubic-bezier(0.29, 1.01, 1, -0.68);
}
.st0.active {
  fill: aquamarine;
}
.st0.active:hover {
  transform: scale(1.05);
}
